/* .lookbook {
    padding: 60px;
    text-align: center;
}

.subtitle {
    font-size: 12px;
    letter-spacing: 2px;
    color: gray;
}

.slider-container {
    position: relative;
    margin-top: 30px;
}

.slider {
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.card {
    width: 250px;
}

.card img {
    width: 100%;
    background: #eee;
}

.nav {
    position: absolute;
    top: 20%;
    background: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
    border-radius: 50%;
}

.nav:hover {
    color: white;
}

.left {
    left: 0;
}

.right {
    right: 0;
} */

.lookbook {
    margin-top: 80px;
}

.lookbook-title {
    font-size: 14px;
    font-family: 'manrope';
    font-weight: 500;
    letter-spacing: 2px;
    color: grey;
}

.lookbook h2 {
    margin-top: 20px;
    font-family: 'manrope';
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: bold;
}

.slider-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    overflow: hidden;
}

.slider {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-left: 0px;
    margin-right: -100px;
}

.slider::-webkit-scrollbar {
    display: none;
}

.card img {
    height: auto;
    width: 300px;
}

.btnPrev {
    padding: 16px 20px;
    height: 50px;
    border: none;
    border-radius: 50%;
    position: relative;
    left: 0px;
    margin-top: 127px;
}

.btnNext {
    padding: 16px 20px;
    height: 50px;
    border: none;
    border-radius: 50%;
    position: relative;
    right: 2%;
    margin-top: 127px;
}