.collection-container {
    display: flex;
    gap: 20px;
    padding: 40px;
    margin-top: 50px;
}

.collection-card {
    position: relative;
    flex: 1;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
}


.collection-overlay {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.collection-card img {
    width: 100%;
    height: 100%;
    transition: 0.9s;
}

.collection-card:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 20%;
    left: 30px;
    color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.overlay p {
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'manrope';
    text-align: left;
}

.overlay h3 {
    font-size: 30px;
    font-family: 'manrope';
    text-align: left;
    max-width: 200px;
    line-height: 1.3;
}

.overlay h2 {
    font-size: 28px;
    margin: 10px 0;
}

.overlay span {
    color: brown;
    font-size: 14px;
    text-decoration: underline;
    font-family: 'manrope';
    font-size: 16px;
    font-weight: 500;
}